section {
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    min-height: 40vh;
    max-height: 94vh;
    min-width: 70vw;
    max-width: 80vw;
    
  }
  
  .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    background-image: var(--img_fondo);
  
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
  
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
  }
  
  .banner-principal {
    color: #fff2dc;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 30vh;
    margin-top: 30vh;
  }
  
  .nombre {
    font-size: 4rem;
    text-align: center;
    font-family: Times New Roman, Times, serif;
  }
  
  .descripcion {
    font-family: Times New Roman, Times, serif;
    font-size: 2.5rem;
    text-align: center;
  }
  
  .btn-contacto {
    margin-top: 5rem;
    text-align: center;
  }
  
  /* .btn--bg {
    padding: 1rem 6rem;
    font-size: 2rem;
  }
   */
  .btn {
    background: rgba(0, 0, 0, 0.27);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.649);
  
    padding: 5px 10px 5px 7px;
    font-size: 2.5rem;
    font-variant: all-small-caps;
  }
  
  .FotoD {
    width: 100%;
    font-size: 1rem;
    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding:0 10px;
  }
  
  .FotoD a {
    text-decoration: none;
    color: rgb(237, 231, 231);
  }
  
  .FotoD a:hover {
    text-decoration: none;
  }
  /* ****************************************MEDIA QUERY**************************************** */
  /* laptop */
  
  @media screen and (min-width:1024px) {
    .nombre {
      font-size: 4rem;
    }
  
    .descripcion {
      font-size: 2.5rem;
    }
  }
   
  
  /* tablet */
  
  @media screen and (min-width: 768px) and (max-width:1023px) {
    .nombre {
      font-size: 3rem;
    }
  
    .descripcion {
      font-size: 2rem;
      }
    
  
    .btn {
      font-size: 1.5rem;
    }
    .fotoD{
      font-size: 0.5rem;
  
    } 
  }
   
   /* smartphone */
  
  @media screen and (max-width: 767px) {
    .nombre {
      font-size: 2.5rem;
    }
  
    .descripcion {
      font-size: 1.5rem;
    }
  
    .btn {
      font-size: 1.5rem;
    }
    .fotoD{
      font-size: 0.3rem;
    } 
  }
   