/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */


/* img de fondo colocada en public */
 :root {
  --img_fondo: url(../public/assets/img/fondo.jpg);
}

body {
  background-image: var(--img_fondo);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  max-width: 100%;  
  font-family: 'Bacasime Antique', serif;
}

html {
  scroll-behavior: smooth;
}

/* section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */